:root {
    --main-bg-color: lightblue;
    /* mail color */
    --mail-bg-color: #f6f8fc;
    --mail-color: #202124;
    --mail-list-bg-color: white;
    --mail-icon-color: #5f6368;
    /* note color */
    --note-bg-color: #fff;
    --note-color: #202124;
    /* book color */
    --clr1: rgb(96, 107, 91);
    --clr2: rgb(120, 99, 110);
  
    --clr1bg: rgb(153, 166, 149);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(247, 185, 219);
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
    /* bp */
    --xxs: 320px;
    --xs: 481px;
    --s: 768px;
    --m: 1025px;
    --l: 1281px;
}