.mail-app {
    background-color: var(--mail-bg-color);
    height: 100vh;
}

.mail-content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.mail-app .folder-list-container {
    flex: 1;
}

.mail-app .mail-list {
    padding: 40px 20px;
    border-radius: 10px;
    background-color: white;
}

.folder-list-container button{
    background-color: #c2e7ff;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
}

.folder-list-container{
    font-size: large;
}





