.mail-app {
    background-color: var(--mail-bg-color);
    height: 100vh;
}

.mail-content {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 2fr 4fr;
    grid-template-areas:
    "folder list";
}

.mail-app .folder-list-container {
    grid-area: folder;
}

.mail-app .mail-list {
    grid-area: list;
    padding: 40px 20px;
    border-radius: 10px;
    background-color: white;
}

.folder-list-container button{
    background-color: #c2e7ff;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
}

.folder-list-container{
    font-size: large;
}





