.layout {
    max-width: var(--xs);
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 650px) {
    .layout {
        max-width: var(--s);
    }
  }
  
  @media (min-width: 850px) {
    .layout {
        max-width: var(--m);
    }
  }
  
  @media (min-width: 1200px) {
    .layout {
        max-width: var(--l);
    }
  }