.add-note {
    outline: none;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.add-note input {
    border: rgb(184, 172, 172) 1px solid;
    border-radius: 8px;
    padding: 0.65em 2em;
}

.add-note textarea{
    border: rgb(184, 172, 172) 1px solid;
    border-radius: 8px;
    padding: 0.65em 2em;
}

.add-note input:focus {
    color: #fff;
    border-radius: 8px;
    color: black;
    background-color: #fff;
}

.add-note textarea:focus {
    color: #fff;
    border-radius: 8px; 
    color: black;
    background-color: #fff;
}

.add-note button {
    display: inline-block;
}

.add-note .utils {
    padding: 0 1.4rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.add-note .utils>* {
    margin: 0 0.2rem;
}

.add-note .inline-utils {
    display: flex;
}

.add-note .inline-utils>* {
    margin: 0.4rem;
}

.main-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-note img {
    margin: 0 auto;
    padding: 1rem;
}