.note-filter {
    display: flex;
    flex-direction: row;
    background-color: inherit;
}

.note-filter input{
    border: rgb(184, 172, 172) 1px solid;
    border-radius: 8px;
    padding: 0.65em 2em;
}





