.note-preview h5 {
    font-size: x-large;
}

.note-preview p {
    font-size: large;
}

.note-preview img {
    padding: 20px;
}

.note-color {
    display: flex;
    flex-direction: row;
}

.note-color div{
    width: 20px;
    height: 20px;
}