.note-list {
    padding: 15px 0 0;
    /* list-style: none; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.note-list li {
    border: 1px solid black;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: snow;
}

.note-color div {
    border-radius: 50%;
    display: flex;
    gap: 10px;
}