header {
    background-color: rgb(16, 16, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 7vh;
    color: aliceblue;
}

.header-content nav{
    background-color: rgb(16, 16, 16);
}

.header-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    height: 6vh;
    width: auto;
}

.header-content .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav a {
    margin: .5em;
}

.header-content h3 {
    font-size: large;
}

nav a:active {
    color: purple;
}

header nav a.active {
    color: rgb(250, 250, 254);
    font-weight: bold;
    text-decoration: overline;
}

header nav {
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7vh;
    right: 0;
    transition: transform .6s, box-shadow .6s;
    z-index: 1;
    background-color: white;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
}

@media (min-width: 481px) {
    header nav {
        transform: translateX(0);
        position: static;
        flex-direction: row-reverse;
    }

    .header-content .logo {
        transform: translateX(0);
        position: static;
    }
}