header {
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 7vh;
}

.header-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    height: 6vh;
    width: auto;
}

.header-content .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav a {
    margin: .5em;
}

.header-content h3 {
    font-size: large;
}

nav a:active {
    color: purple;
}

header nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}