
.mail-filter form{
    display: flex;
    background-color: var(--mail-bg-color);
}

.mail-filter input{
    border: 0;
    width: 100px;
    height: 5vh;
    background-color: var(--mail-bg-color);
}

.mail-filter button {
    font-size: 20px;
    background-color: var(--mail-bg-color);
    border: 0;
}

.mail-filter #is-read {
    background-color: var(--mail-bg-color);
    border: 0;
    border-left: 1px solid rgb(0,0,0,0.1);
}

@media (min-width: 650px) {
    .mail-filter input{
        width: 150px;
    }
}

@media (min-width: 850px) {
  .mail-compose {
    width: 500px;
}
}

@media (min-width: 1200px) {
    .mail-filter input{
        width: 300px;
    }
}




